<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
<servlet>
  <servlet-name>app001</servlet-name>
  <servlet-class>controllers.ShowUserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app001</servlet-name>
  <url-pattern>/show_user_login.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app002</servlet-name>correct
	<servlet-class>controllers.UserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app002</servlet-name>
	<url-pattern>/user_login.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app003</servlet-name>
  <servlet-class>controllers.ShowUserRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app003</servlet-name>
  <url-pattern>/show_user_register.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app004</servlet-name>
	<servlet-class>controllers.UserRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app004</servlet-name>
	<url-pattern>/user_register.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app005</servlet-name>
  <servlet-class>controllers.ShowOwnerLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app005</servlet-name>
  <url-pattern>/show_owner_login.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app006</servlet-name>
  <servlet-class>controllers.OwnerLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app006</servlet-name>
  <url-pattern>/owner_login.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app007</servlet-name>
  <servlet-class>controllers.ShowOwnerRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app007</servlet-name>
  <url-pattern>/show_owner_register.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app008</servlet-name>
  <servlet-class>controllers.OwnerRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app008</servlet-name>
  <url-pattern>/owner_register.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app009</servlet-name>
  <servlet-class>controllers.RestaurantServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app009</servlet-name>
  <url-pattern>/Restaurant.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app010</servlet-name>
  <servlet-class>controllers.ShowAddMenuServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app010</servlet-name>
  <url-pattern>/add_menu.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app011</servlet-name>
  <servlet-class>controllers.AddCategoryAServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app011</servlet-name>
  <url-pattern>/collect_category.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app012</servlet-name>
  <servlet-class>controllers.GetItemServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app012</servlet-name>
  <url-pattern>/collect_item.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app013</servlet-name>
  <servlet-class>controllers.SaveMenuServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app013</servlet-name>
  <url-pattern>/save_menu.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app014</servlet-name>
  <servlet-class>controllers.ShowAdminLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app014</servlet-name>
  <url-pattern>/show_admin_login.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app016</servlet-name>
  <servlet-class>controllers.ShowAdminRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app016</servlet-name>
  <url-pattern>/show_admin_register.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app017</servlet-name>
  <servlet-class>controllers.AdminRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app017</servlet-name>
  <url-pattern>/admin_register.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app018</servlet-name>
  <servlet-class>controllers.AdminLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app018</servlet-name>
  <url-pattern>/admin_login.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app019</servlet-name>
  <servlet-class>controllers.NewPackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app019</servlet-name>
  <url-pattern>/new_ package.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app020</servlet-name>
  <servlet-class>controllers.ShowNewAccomodationServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app020</servlet-name>
  <url-pattern>/show_new_accomodation.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app021</servlet-name>
  <servlet-class>controllers.SaveAccomodationServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app021</servlet-name>
  <url-pattern>/save_accomodation.do</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>app022</servlet-name>
  <servlet-class>controllers.PackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app022</servlet-name>
  <url-pattern>/package.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app023</servlet-name>
  <servlet-class>controllers.ShowAllPackagesServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app023</servlet-name>
  <url-pattern>/show_all_packages.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app024</servlet-name>
  <servlet-class>controllers.NationalServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app024</servlet-name>
  <url-pattern>/national.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app025</servlet-name>
  <servlet-class>controllers.ReligiousPackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app025</servlet-name>
  <url-pattern>/religious_package.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app026</servlet-name>
  <servlet-class>controllers.AdventurePackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app026</servlet-name>
  <url-pattern>/adventure_package.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app027</servlet-name>
  <servlet-class>controllers.FamilyVacationPackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app027</servlet-name>
  <url-pattern>/family_vacation.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app028</servlet-name>
  <servlet-class>controllers.HoneymoonPackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app028</servlet-name>
  <url-pattern>/honeymoon.do</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>app029</servlet-name>
  <servlet-class>controllers.MyPackageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>app029</servlet-name>
  <url-pattern>/my_package.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app030</servlet-name>
	<servlet-class>controllers.ShowRestRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app030</servlet-name>
	<url-pattern>/show_rest.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app031</servlet-name>
	<servlet-class>controllers.ChineseRestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app031</servlet-name>
	<url-pattern>/chinese_rest.do</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>app032</servlet-name>
	<servlet-class>controllers.ItalianRestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app032</servlet-name>
	<url-pattern>/italian_rest.do</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>app033</servlet-name>
	<servlet-class>controllers.SouthIndainRestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app033</servlet-name>
	<url-pattern>/south_indian_rest.do</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>app034</servlet-name>
	<servlet-class>controllers.NorthIndianRestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app034</servlet-name>
	<url-pattern>/north_indian_rest.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app035</servlet-name>
	<servlet-class>controllers.RestRecordShowServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app035</servlet-name>
	<url-pattern>/rest_record_show.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app036</servlet-name>
	<servlet-class>controllers.MyRestServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app036</servlet-name>
	<url-pattern>/my_rest.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>app037</servlet-name>
	<servlet-class>controllers.MyOrderServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>app037</servlet-name>
	<url-pattern>/my_order.do</url-pattern>
</servlet-mapping>


</web-app>